{% extends "employee_regstr/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="POST" autocomplete="off">

    {% csrf_token %}     <!--avoid lcyber attack-->

    <!--form fields-->
    <!--name & mobile align separete line-->
    {{form.username|as_crispy_field}}
    <div type="password">
    {{form.password|as_crispy_field}}
    </div>
    {{form.mobile|as_crispy_field}}
    <!-- emp_code & position align to single line -->
    <div class="row">
        <div class="col-md-4 mb-5">
            {{form.email|as_crispy_field}}
        </div>
        <div class=" col-md-8">
            {{form.Place|as_crispy_field}}

        </div>                              
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-secondary btn-block btn-lg">
               submit</button>

        </div>
        <div class="col-md-4">
<a href="{% url 'employee_list' %}" class="btn btn-primary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to List
            </a>

        </div>
    </div>
    </form>
{% endblock content %}



